openapi: 3.0.3
info:
  title: Ultravox accounts telephony_configs API
  version: 0.1.0
  description: API for the Ultravox service.
servers:
- url: https://api.ultravox.ai
tags:
- name: telephony_configs
paths:
  /api/telephony_configs/plivo:
    get:
      operationId: telephony_configs_plivo_retrieve
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlivoConfig'
          description: ''
    post:
      operationId: telephony_configs_plivo_create
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlivoConfig'
        required: true
      security:
      - apiKeyAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlivoConfig'
          description: ''
    patch:
      operationId: telephony_configs_plivo_partial_update
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlivoConfig'
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlivoConfig'
          description: ''
    delete:
      operationId: telephony_configs_plivo_destroy
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: No response body
  /api/telephony_configs/telnyx:
    get:
      operationId: telephony_configs_telnyx_retrieve
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxConfig'
          description: ''
    post:
      operationId: telephony_configs_telnyx_create
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelnyxConfig'
        required: true
      security:
      - apiKeyAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxConfig'
          description: ''
    patch:
      operationId: telephony_configs_telnyx_partial_update
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTelnyxConfig'
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxConfig'
          description: ''
    delete:
      operationId: telephony_configs_telnyx_destroy
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: No response body
  /api/telephony_configs/twilio:
    get:
      operationId: telephony_configs_twilio_retrieve
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwilioConfig'
          description: ''
    post:
      operationId: telephony_configs_twilio_create
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwilioConfig'
        required: true
      security:
      - apiKeyAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwilioConfig'
          description: ''
    patch:
      operationId: telephony_configs_twilio_partial_update
      tags:
      - telephony_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTwilioConfig'
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwilioConfig'
          description: ''
    delete:
      operationId: telephony_configs_twilio_destroy
      tags:
      - telephony_configs
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: No response body
components:
  schemas:
    TelnyxConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        accountSid:
          type: string
          description: Your Telnyx Account SID. See https://portal.telnyx.com/#/account/general
        apiKey:
          type: string
          writeOnly: true
          description: Your Telnyx API Key. See https://portal.telnyx.com/#/api-keys
        apiKeyPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Telnyx API Key.
        publicKey:
          type: string
          writeOnly: true
          description: Your Telnyx Public Key. See https://portal.telnyx.com/#/api-keys/public-key
        publicKeyPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Telnyx Public Key.
        applicationSid:
          type: string
          description: Your Telnyx Application SID. This must be configured with an Outbound Voice Profile that allows calls to your destination. See https://portal.telnyx.com/#/call-control/texml
          maxLength: 40
      required:
      - accountSid
      - apiKey
      - apiKeyPrefix
      - applicationSid
      - publicKey
      - publicKeyPrefix
    PatchedTelnyxConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        accountSid:
          type: string
          description: Your Telnyx Account SID. See https://portal.telnyx.com/#/account/general
        apiKey:
          type: string
          writeOnly: true
          description: Your Telnyx API Key. See https://portal.telnyx.com/#/api-keys
        apiKeyPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Telnyx API Key.
        publicKey:
          type: string
          writeOnly: true
          description: Your Telnyx Public Key. See https://portal.telnyx.com/#/api-keys/public-key
        publicKeyPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Telnyx Public Key.
        applicationSid:
          type: string
          description: Your Telnyx Application SID. This must be configured with an Outbound Voice Profile that allows calls to your destination. See https://portal.telnyx.com/#/call-control/texml
          maxLength: 40
    TwilioConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        accountSid:
          type: string
          description: Your Twilio Account SID.
        authToken:
          type: string
          writeOnly: true
          description: Your Twilio Auth Token.
        authTokenPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Twilio Auth Token.
      required:
      - accountSid
      - authToken
      - authTokenPrefix
    PlivoConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        authId:
          type: string
          description: Your Plivo Auth ID.
        authToken:
          type: string
          writeOnly: true
          description: Your Plivo Auth Token.
        authTokenPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Plivo Auth Token.
      required:
      - authId
      - authToken
      - authTokenPrefix
    PatchedPlivoConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        authId:
          type: string
          description: Your Plivo Auth ID.
        authToken:
          type: string
          writeOnly: true
          description: Your Plivo Auth Token.
        authTokenPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Plivo Auth Token.
    KeyPrefix:
      type: object
      properties:
        prefix:
          type: string
          description: The prefix of the API key.
      required:
      - prefix
    PatchedTwilioConfig:
      type: object
      properties:
        callCreationAllowedAgentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of agents for whom calls may be directly created by this telephony provider to facilitate incoming calls. May not be set if callCreationAllowAllAgents is true.
          maxItems: 100
        callCreationAllowAllAgents:
          type: boolean
          default: false
          description: If true, calls may be directly created by this telephony provider for all agents. If false, only agents listed in callCreationAllowedAgentIds are allowed.
        requestContextMapping:
          type: object
          additionalProperties:
            type: string
          description: Maps (dot separated) request fields to (dot separated) context fields for incoming call creation.
        accountSid:
          type: string
          description: Your Twilio Account SID.
        authToken:
          type: string
          writeOnly: true
          description: Your Twilio Auth Token.
        authTokenPrefix:
          allOf:
          - $ref: '#/components/schemas/KeyPrefix'
          readOnly: true
          description: The prefix of your Twilio Auth Token.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key
