openapi: 3.2.0
info:
  title: Ultravox API Keys API
  version: 0.1.0
  description: API for the Ultravox service.
servers:
- url: https://api.ultravox.ai
tags:
- name: API Keys
paths:
  /api/api_keys:
    get:
      operationId: api_keys_list
      description: Gets the current user's API keys.
      parameters:
      - name: cursor
        required: false
        in: query
        description: The pagination cursor value.
        schema:
          type: string
      - name: pageSize
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - API Keys
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAPIKeyList'
          description: ''
      summary: Api keys list
      x-summary-source: derived
    post:
      operationId: api_keys_create
      description: Creates a new API key.
      tags:
      - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyCreate'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreate'
          description: ''
      summary: Api keys create
      x-summary-source: derived
  /api/api_keys/{api_key_prefix}:
    get:
      operationId: api_keys_retrieve
      description: Gets an API key.
      parameters:
      - in: path
        name: api_key_prefix
        schema:
          type: string
        required: true
      tags:
      - API Keys
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
          description: ''
      summary: Api keys retrieve
      x-summary-source: derived
    put:
      operationId: api_keys_update
      description: Updates an API key.
      parameters:
      - in: path
        name: api_key_prefix
        schema:
          type: string
        required: true
      tags:
      - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
          description: ''
      summary: Api keys update
      x-summary-source: derived
    patch:
      operationId: api_keys_partial_update
      description: Updates an API key.
      parameters:
      - in: path
        name: api_key_prefix
        schema:
          type: string
        required: true
      tags:
      - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAPIKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
          description: ''
      summary: Api keys partial update
      x-summary-source: derived
    delete:
      operationId: api_keys_destroy
      description: Deletes an API key.
      parameters:
      - in: path
        name: api_key_prefix
        schema:
          type: string
        required: true
      tags:
      - API Keys
      responses:
        '204':
          description: No response body
      summary: Api keys destroy
      x-summary-source: derived
components:
  schemas:
    APIKey:
      type: object
      properties:
        prefix:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        creator:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type: string
          readOnly: true
          description: A free-form name for the API key. Need not be unique. 50 characters max.
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Expires
          description: Once API key expires, clients cannot use it anymore.
        revoked:
          type: boolean
          description: If the API key is revoked, clients cannot use it anymore. (This cannot be undone.)
      required:
      - created
      - creator
      - expiryDate
      - name
      - prefix
    APIKeyCreate:
      type: object
      properties:
        prefix:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        creator:
          type:
          - string
          - 'null'
          readOnly: true
        secret:
          type: string
          readOnly: true
          description: The API key itself. Will be generated on creation but not returned in future requests.
        revoked:
          type: boolean
          readOnly: true
          description: If the API key is revoked, clients cannot use it anymore. (This cannot be undone.)
        name:
          type: string
          description: A free-form name for the API key. Need not be unique. 50 characters max.
          maxLength: 50
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          title: Expires
          description: Once API key expires, clients cannot use it anymore.
      required:
      - created
      - creator
      - name
      - prefix
      - revoked
      - secret
    PatchedAPIKey:
      type: object
      properties:
        prefix:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        creator:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type: string
          readOnly: true
          description: A free-form name for the API key. Need not be unique. 50 characters max.
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Expires
          description: Once API key expires, clients cannot use it anymore.
        revoked:
          type: boolean
          description: If the API key is revoked, clients cannot use it anymore. (This cannot be undone.)
    PaginatedAPIKeyList:
      type: object
      required:
      - results
      properties:
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?cursor=cD00ODY%3D"
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
        results:
          type: array
          items:
            $ref: '#/components/schemas/APIKey'
        total:
          type: integer
          example: 123
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key
