openapi: 3.0.3
info:
  title: Ultravox accounts call_throttles API
  version: 0.1.0
  description: API for the Ultravox service.
servers:
- url: https://api.ultravox.ai
tags:
- name: call_throttles
paths:
  /api/call_throttles:
    get:
      operationId: call_throttles_list
      description: Lists call throttles for the current account.
      parameters:
      - name: cursor
        required: false
        in: query
        description: The pagination cursor value.
        schema:
          type: string
      - name: pageSize
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - call_throttles
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCallThrottleList'
          description: ''
    post:
      operationId: call_throttles_create
      description: Creates a new call throttle.
      tags:
      - call_throttles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallThrottle'
        required: true
      security:
      - apiKeyAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallThrottle'
          description: ''
  /api/call_throttles/{throttle_id}:
    get:
      operationId: call_throttles_retrieve
      description: Gets a call throttle.
      parameters:
      - in: path
        name: throttle_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - call_throttles
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallThrottle'
          description: ''
    put:
      operationId: call_throttles_update
      description: Updates a call throttle (full replacement).
      parameters:
      - in: path
        name: throttle_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - call_throttles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallThrottle'
        required: true
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallThrottle'
          description: ''
    patch:
      operationId: call_throttles_partial_update
      description: Partially updates a call throttle.
      parameters:
      - in: path
        name: throttle_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - call_throttles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCallThrottle'
      security:
      - apiKeyAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallThrottle'
          description: ''
    delete:
      operationId: call_throttles_destroy
      description: Deletes a call throttle.
      parameters:
      - in: path
        name: throttle_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - call_throttles
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: No response body
components:
  schemas:
    PatchedCallThrottle:
      type: object
      properties:
        throttleId:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 64
        created:
          type: string
          format: date-time
          readOnly: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/CallThrottleRule'
    CallThrottleRule:
      type: object
      properties:
        maxCalls:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of calls allowed in the time window (max 100).
        windowSeconds:
          type: integer
          maximum: 86400
          minimum: 1
          description: Duration of the sliding time window in seconds (max 86,400).
      required:
      - maxCalls
      - windowSeconds
    CallThrottle:
      type: object
      properties:
        throttleId:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 64
        created:
          type: string
          format: date-time
          readOnly: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/CallThrottleRule'
      required:
      - created
      - name
      - rules
      - throttleId
    PaginatedCallThrottleList:
      type: object
      required:
      - results
      properties:
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?cursor=cD00ODY%3D"
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
        results:
          type: array
          items:
            $ref: '#/components/schemas/CallThrottle'
        total:
          type: integer
          example: 123
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key
